body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    color: white;
    padding: 30px 60px 0 60px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 18px;
    letter-spacing: 0.05;
    margin: 0;
}

.logo {
    margin-bottom: 100px;
    width: 200px;
}

.content {
    display: flex;
    flex-direction: row;
}

.image {
    width: 100%;
    height: auto;
}

.data {
    padding-left: 50px;
}

.register {
    padding: 15px 70px;
    background-color: white;
    color:hsl(257, 40%, 49%);
    border-radius: 30px;
    border: none;
    outline: none;;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.05;
}

.register:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
}

.description {
    padding-bottom: 20px;
}

i {
    margin: 0 5px;
    width: 16px;
    height: 16px;
}

i.fab {
    display: inline-block;
    transform: scale(1,1);
    border-radius: 60px;
    border: 1px solid white;
    padding: 10px;
  }


i:hover {
    color:hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

  .contact {
      position: absolute;
      margin-top: 20px;
      right: 50px;
  }

  @media (max-width: 375px) {
      body{
          padding: 30px;
          background-image: url('./images/bg-mobile.svg');
      }
      .logo {
          width: 120px;
          margin-bottom: 60px;
      }
      .content{
          flex-direction: column;
      }
      h1{
          font-size: 24px;
      }
      .data{
          padding-left: 0;
          padding-top: 40px;
          text-align: center;
      }
      .contact{
          padding: 50px 0;
          right: 30%;
      }
  }