:root {
    --font-weight-regular : 400;
    --font-weight-bold: 600;
    --font-size-regular: 16px;
    --font-size-small: 14px;
    --font-size-xsmall: 12px;
    --color-green: rgb(170,210,54);
    --description-text-color: #8b8b99;
}

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
}

.green-text {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
}

.container {
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 18px 28px;
    box-sizing: border-box;
}

.logo {
    width: 40px;
}

.menu-item{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    margin-right: 24px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 2px 5px #ccc;
    border-top: 2px solid var(--color-green);
    background-color: white;
    padding: 20px;
    width: 150px;
}

.dropdown-content a{
    display: block;
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.primary-button {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-bold);
    color: white;
    background-color: var(--color-green);
    padding: 9px 34px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.landing-section {
    width: 100%;
    height: 100vh;
}

.landing-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.heading {
    font-size: 44px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 8.8px;
    line-height: 1.2;
}

.description {
    font-size: var(--font-size-small);
    letter-spacing: 0.5px;
    font-weight: var(--font-weight-regular);
    color: var(--description-text-color);
    margin: 14px 0;
    padding-top: 32px;
}

.step-section-wrapper {
    display: flex;
}

.step {
    color: white;
    text-align: center;
    width: 25%;
    padding: 112px 48px;
}

.step:hover .step-icon{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

.step-icon {
    font-size: 96px;
}

.step-label {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    margin: 24px 0;
}

.step-description {
    font-size: var(--font-size-small);
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 14px;
}

.step-cut {
    background-color: #5acda6;
}

.step-paint-brush {
    background-color: #91ac41;
}

.step-shopping-bag {
    background-color:  #e4b476;
}

.step-smile {
    background-color: #f69dad;
}

.store-section{
    background-color: #f7eee2;
    padding: 75px 0;
}

.store-section-wrapper {
    text-align: center;
}

.store-subcategory {
    margin-top: 35px;
}

.store-section-heading {
    font-size: 44px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
}

.store-section-description {
    font-size: var(--font-size-regular);
    font-weight: 500;
    color: var(--description-text-color);
    letter-spacing: 0.5px;
}

.store-section-spacing {
    margin-bottom: 55px;
}

.store-items-wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.store-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 24px;
}

.store-item:hover .store-item-icon {
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

.store-item-icon {
    background-color: #e3b375;
    padding: 40px;
    border-radius: 50%;
    color: white;
}

.store-item-icon i {
    font-size: 60px;
}

.store-item-label {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

.testimonial-section {
    padding: 75px 0;
    text-align: center;
}

.testimonial-desc{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-card {
    background-color: #f5f6fb;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    margin: 16px;
    padding: 40px 30px;
}

.testimonial-card-image {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.testimonial-card-message {
    font-size: var(--font-size-small);
    letter-spacing: 0.5px;
    font-style: italic;
    color: var(--description-text-color);
}

.testimonial-card-author {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    margin-top: 24px;
    margin-bottom: 0;
}

.testimonial-card-role {
    font-size: var(--font-size-xsmall);
    font-style: italic;
    color: var(--description-text-color);
}

.follow-section {
    display: flex;
}

.left-section{
    width: 67%;
}

.left-section img {
    width: 100%;
}

.right-section {
  background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');  
  background-size: cover;
  width: 33%;
}

.right-section-wrapper{
    margin: 115px;
}

.subscribe-email {
    width: 100%;
    border: 0;
    padding: 12px;
    margin-top: 60px;
    border-radius: 4px;
    font-size: var(--font-size-regular);
    box-sizing: border-box;
    font-weight: 500;
    color: var(--description-text-color);
}

.subscribe-btn {
    background-color: #f69dad;
    border: 1px solid #f69dad;
    color: white;
    border-radius: 4px;
    padding: 16px 42px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-top: 16px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: transparent;
    color: #f69dad;
}

.stats-section {
    background-color: #f6fcfa;
}

.stats-section-wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.stats-item {
    width: 25%;
    padding: 0 64px;
}

.stats-item-header {
    font-size: 44px;
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.stats-item-desc {
    font-size: var(--font-size-small);
    font-weight: 500;
    font-style: italic;
    color: #57e3b5;
    margin: 0;
}
